.calculator {
  display: grid;
  grid-template-areas:
    'input input input input'
    'firstBtn secondBtn thirdBtn divide'
    'seven eight nine multiply'
    'four five six subtraction'
    'one two three summation'
    'zero zero dot equal';
}

#input {
  grid-area: input;
  background-color: rgb(95, 104, 111);
  color: white;
  text-align: right;
  padding-right: 1em;
}

#firstBtn {
  grid-area: firstBtn;
}

#secondBtn {
  grid-area: secondBtn;
}

#thirdBtn {
  grid-area: thirdBtn;
}

#divide {
  grid-area: divide;
  background-color: darkorange;
}

#multiply {
  grid-area: multiply;
  background-color: darkorange;
}

#subtraction {
  grid-area: subtraction;
  background-color: darkorange;
}

#summation {
  grid-area: summation;
  background-color: darkorange;
}

#equal {
  grid-area: equal;
  background-color: darkorange;
}

#dot {
  grid-area: dot;
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

.calculator > * {
  border: 1px solid gainsboro;
  padding: 1em 0;
}
