@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  min-height: 100vh;
  background-color: #fdfdfd;
  font-family: 'Poppins', sans-serif;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  padding-top: 1rem;
}

.menu span {
  color: darkorange;
  font-size: x-large;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: larger;
}

.home-page {
  width: 80vw;
  margin: 5rem auto;
}

.home-page h1 {
  color: darkorange;
}

.calc-page {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  margin: 5rem;
}

.quote {
  width: 100vw;
  height: 10rem;
  position: absolute;
  inset: 0;
  margin: auto;
  text-align: center;
  font-size: x-large;
  color: darkorange;
  font-style: italic;
}

.calculator {
  position: relative;
  display: grid;
  width: 40rem;
  height: 40rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'input input input input'
    'all-clear C percentage divide'
    'seven eight nine multiply'
    'four five six subtract'
    'one two three add'
    'zero zero decimal-point equals';
}

.calculator button,
.calculator input {
  font-size: large;
}

#input {
  grid-area: input;
  background-color: rgb(95, 104, 111);
  color: white;
  text-align: right;
  padding: 1em;
  outline: none;
  border: none;
}

#all-clear {
  grid-area: all-clear;
}

#C {
  grid-area: C;
}

#percentage {
  grid-area: percentage;
}

#divide {
  grid-area: divide;
  background-color: darkorange;
}

#multiply {
  grid-area: multiply;
  background-color: darkorange;
}

#subtract {
  grid-area: subtract;
  background-color: darkorange;
}

#add {
  grid-area: add;
  background-color: darkorange;
}

#equals {
  grid-area: equals;
  background-color: darkorange;
}

#decimal-point {
  grid-area: decimal-point;
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

.calculator > *:not(#input) {
  border: 1px solid gainsboro;
  padding: 1em 0;
  cursor: pointer;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: darkred;
  color: #fdfdfd;
  padding: 1rem;
}

.show-popup {
  display: block;
}
